*.iml
.gradle
local.properties
.idea/workspace.xml
.idea/libraries
.DS_Store
/build
captures
infer-out
.idea
.idea/.name
.idea/compiler.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/dictionaries
.idea/caches
.idea/codeStyles
.idea/sonarlint
.idea/findbugs-idea.xml
.idea/inspectionProfiles
/.idea